{{#each this}}
<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <h3>{{name}}</h3>
    <p>Age: {{age}}</p>
    <p>Gender: {{gender}}</p>
    <h4> Skills</h4>
    <ul>
    {{#each skills}}
      <li>{{this}}</li>
    {{/each}}
    </ul>
    {{!-- <button id="editFamilyMember" type="button" class="btn btn-primary">Edit Family Member</button> --}}
    <button id="deleteFamilyMember" type="button" class="btn btn-danger">Delete Family Member</button>
  </div>
</div>
{{/each}}


{{!-- <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div> --}}